Repository mattyx14/dkkserv, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Source, Area: Datapack Core, Area: Datapack Global, Area: Map Global, Area: Docker

core
  data-otxserver/scripts/globalevents/others/startup.lua
Labels: Area: Datapack Global

fix console error
  data-otxserver/lib/lib.lua
Labels: Area: Datapack Global

console errors
  data-otxserver/npc/Albinius.lua
  data-otxserver/npc/Dan.lua
  data-otxserver/npc/Edson.lua
  data-otxserver/npc/Gloria.lua
  data-otxserver/npc/Guardian.lua
  data-otxserver/npc/Henrry.lua
  data-otxserver/npc/Javier.lua
  data-otxserver/npc/Jimmy.lua
  data-otxserver/npc/Katty.lua
  data-otxserver/npc/Olmel.lua
  data-otxserver/npc/Pablo.lua
  data-otxserver/npc/Sammy.lua
  data-otxserver/npc/Sussy.lua
  data-otxserver/npc/The King.lua
  data-otxserver/npc/Vancer.lua
  data-otxserver/npc/Villager Man.lua
  data-otxserver/npc/Villager Woman.lua
  data-otxserver/npc/Wendy.lua
  data-otxserver/npc/Yuna.lua
  data-otxserver/npc/Yura.lua
Labels: Area: Datapack Global

change storates to 70+k more easy for updates
  data-otxserver/lib/core/storages.lua
Labels: Area: Datapack Global

fixes from otserv
  src/creatures/combat/combat.h
  src/creatures/monsters/monster.cpp
  src/creatures/players/player.cpp
Labels: Area: Source

ignore
  .gitignore
Labels: none

npc tables
  data-otxserver/startup/tables/npc_spawn.lua
Labels: Area: Datapack Global

fixes on npcs
  data-otxserver/npc/Dan.lua
  data-otxserver/npc/Edson.lua
  data-otxserver/npc/Gloria.lua
  data-otxserver/npc/Henrry.lua
  data-otxserver/npc/Katty.lua
  data-otxserver/npc/Sussy.lua
  data-otxserver/npc/Vancer.lua
  data-otxserver/npc/Wendy.lua
  data-otxserver/npc/Yuna.lua
  data-otxserver/npc/Yura.lua
Labels: Area: Datapack Global

storages imbui
  data/XML/imbuements.xml
Labels: Area: Datapack Core

clean folder
  data-otxserver/scripts/quests/parchment_room/parchment.lua
  data-otxserver/scripts/quests/the_annihilator/lever.lua
Labels: Area: Datapack Global

fix load crash
  data-otxserver/world/darkkonia_ID-monster.xml
Labels: Area: Map Global

system
  data-otxserver/scripts/actions/system/questSystem.lua
  data-otxserver/scripts/actions/system/questSystemOld.lua
Labels: Area: Datapack Global

ugly monster script
  data-otxserver/scripts/creaturescripts/quests/grave_danger/cobra_bastion/scarlett.lua
  data-otxserver/scripts/creaturescripts/quests/grave_danger/cobra_bastion/ugly_monster.lua
  data-otxserver/scripts/creaturescripts/quests/grave_danger/sirs.lua
Labels: Area: Datapack Global

console errors
  data-otxserver/lib/core/storages.lua
  data-otxserver/scripts/globalevents/others/server_save.lua
  data-otxserver/scripts/spells/attack/annihilation.lua
Labels: Area: Datapack Global

console errors and changegold fix
  data-otxserver/scripts/actions/darkkonia/change_gold.lua
  data-otxserver/scripts/actions/other/dolls.lua
  data-otxserver/scripts/actions/other/surprise_bag.lua
  data-otxserver/scripts/custom/change_gold.lua
Labels: Area: Datapack Global

fix all warnings now star to dev
  data-otxserver/monster/bosses/zoralurk.lua
  data-otxserver/monster/empty.lua
  data-otxserver/monster/quests/ancient_tombs/rahemos.lua
  data/items/items.xml
Labels: Area: Datapack Core, Area: Datapack Global

added npcTables
  data-otxserver/scripts/globalevents/others/startup.lua
  data-otxserver/startup/others/functions.lua
  data-otxserver/startup/tables/load.lua
Labels: Area: Datapack Global

added player !commands
  data-otxserver/scripts/talkactions/player/buy_house.lua
  data-otxserver/scripts/talkactions/player/commands.lua
  data-otxserver/scripts/talkactions/player/leave_house.lua
  data-otxserver/scripts/talkactions/player/sell_house.lua
  data-otxserver/scripts/talkactions/player/tutor_position.lua
Labels: Area: Datapack Global

changes
  data-otxserver/monster/bosses/spider_queen.lua
  data-otxserver/monster/bosses/zoralurk.lua
  data-otxserver/monster/quests/ancient_tombs/rahemos.lua
  data-otxserver/scripts/actions/other/dolls.lua
  data-otxserver/scripts/actions/tools/skinning.lua
Labels: Area: Datapack Global

format
  data-otxserver/world/darkkonia_ID-house.xml
  data-otxserver/world/darkkonia_ID-monster.xml
  data-otxserver/world/darkkonia_ID-npc.xml
  data-otxserver/world/darkkonia_ID-zones.xml
Labels: Area: Map Global

changes
  data-otxserver/world/darkkonia_ID-monster.xml
Labels: Area: Map Global

empty
  data-otxserver/empty
  data/empty
Labels: Area: Datapack Core, Area: Datapack Global

.github/labeler.yml:

---
"Area: Source":
  - any: ['src/**/*']

"Area: Datapack Core":
  - any: ['data/**/*']

"Area: Datapack Global":
  - any: ['data-otxserver/**/*', '!data-otxserver/world/*']

"Area: Map Global":
  - any: ['data-otxserver/world/*']

"Area: Docker":
  - any: ['docker/**/*']
